/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
}

/* STRUMENTI */
header,
footer,
section,
nav,
a,
div,
p,
img,
h1,
h2 {
    /*border: 1px solid red; */
    padding: 5px;
}

/* CUSTOM VARIABLES */
:root {
    --color-header: #ff6900;
    --color-discount: #ff0000;
    --color-footer: #1a1a1a;
    --color-eco: #008000;
}

/* ASSETS */
header {
    background-color: var(--color-header);
    color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;

}

main {
    padding-top: 40px;
}

footer {
    background-color: var(--color-footer);
    color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    color: white;
}

i:hover {
    transform: scale(1.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#logo {
    width: 200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.prod {
    font-weight: bold;
}

.pre {
    font-weight: bold;
    color: red;
}

.sco,
.eco {
    display: inline;
    color: white;
}

.sco {
    background-color: var(--color-discount);
}

.sco€ {
    text-decoration: line-through;
}

.eco {
    background-color: var(--color-eco);
}

h2,
h1 {
    font-size: 80%;
}

div.info>a {
    font-size: 50%;
}

/* FLEX */
.info {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

#coda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.al-it-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.col {
    width: calc((100% - 15px) / 3);
}

.money {
    display: flex;
    gap: 20px;
}

#social-dad {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.har {
    color: grey;
    display: inline-block;
}

/* POSITIONING */
.win {
    position: relative;
    width: 100%;
    z-index: 730;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}

.win:hover img.back {
    display: block;
    z-index: 750;
}

.sco,
.eco,
.har {
    position: absolute;
}

.sco,
.eco,
.har {
    z-index: 800;
}

.har {
    top: 15px;
    right: 0px;
    transform: translateX(-100%);
    font-size: 150%;
}

.sco,
.eco {
    bottom: 10px;
    transform: translateY(-100%);
}

.sco {
    left: 30px;
}

.eco {
    left: 90px;
}